@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #e0e0d3ec; /* Light gray background */
    color: #333; /* Dark text color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 830px; /* Increased container width */
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.form-label {
    font-weight: bold;
}

.form-select, .form-control {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff; /* Primary blue button */
    color: #fff; /* White text color */
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.explanation {
    background: #fff; /* White background for explanation boxes */
    padding: 20px;
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px;
    margin-top: 20px;
}

.explanation h3 {
    margin-bottom: 15px;
    text-align: center;
}

.explanation ul {
    list-style-type: none;
    padding: 0;
}

.explanation ul li {
    padding: 8px 0;
    border-bottom: 1px solid #eee; /* Light gray border between items */
}

.explanation ul li:last-child {
    border-bottom: none;
}

.text-muted {
    color: #4a4f53; /* Muted text color */
}

.body-font {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.output {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    max-width: 50%;
    margin: auto;
}

.output.show {
    display: block;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.output.hide {
    display: none;
}

.output h1 {
    font-size: 2em;
    margin: 0;
}


@media (max-width: 1200px) {
    .output {
        padding: 20px;
    }
    .output h1 {
        font-size: 2em;
    }
}

@media (max-width: 992px) {
    .output {
        padding: 15px;
    }
    .output h1 {
        font-size: 1.75em;
    }
}

@media (max-width: 768px) {
    .output {
        padding: 10px;
    }
    .output h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    .output {
        padding: 5px;
    }
    .output h1 {
        font-size: 1.25em;
    }
}